:root {
  /* Consistent Values */
  --navbar-ht: 40px;

  /* Backgrounds */
  --bg-color: #2b333b;
  --bg-color-1l: #697c90;
  --bg-color-2l: #a7c6e5;

  /* Accents */
  --accent-color: #fc6051;
  --accent-color-1d: #a74036;
  --accent-color-2d: #521f1a;

  /* Text Junk */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgb(255 255 255 / 87%);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: var(--accent-color);
}

body {
  display: flex;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

body * {
  box-sizing: border-box;
}
