.dropdown {
  padding: 0 5px;
  border: 1px solid white;
  border-radius: 4px;
}

.dropdown > label {
  display: block;
  transform: translate(5px, -10px);
  z-index: 500;
  width: fit-content;
  padding: 2px;
  background-color: var(--bg-color);
  font-size: 0.8rem;
}

.dropdown > select {
  transform: translateY(-10px);
  border: none;
  outline: none;
  width: 100%;
  background-color: transparent;
  font-size: 1rem;
}
